@charset "UTF-8";

#calTable{
	border: 1px solid;
	width: 800px;
	height: 500px;
}

#calTable tr{
	border-bottom: 1px solid;
}

#scheduleForm{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border: 1px solid;
}
#scheduleForm form{
	padding: 10px;
	
}

label textarea{
    vertical-align: middle;
}

.buttonBox {
	text-align: center;
}

