@charset "UTF-8";
body{
	margin: 0px;
	padding: 10px;
}
#schedulForm{
	margin-left: 20px;	
}
#scheduleForm form{
	padding: 10px;
	
}

label textarea{
    vertical-align: middle;
}

#button {
	text-align: center;
}

#title button h3{
	display: inline-block;
}
