@charset "UTF-8";
#dateSelect{
	margin-left: 100px;
}
#weeklyTaskTable{
	margin-left: 100px;
	margin-top: 10px;
	float: left;
}

table{
	border: 1px solid;
	width: 450px;
	text-align: center;
}

tr{
	border: 1px solid;
}

th{
	border-bottom: 1px solid;
}

td{
}

#weeklyWriteTask{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border: 1px solid;
	width: 650px;
}
#weeklyWriteTask form{
	padding: 10px;
	margin-left: 10px;
	
}
#weeklyWriteTask form label{
	width: 100px;
	text-align: center;
	
}
#weeklyWriteTask form label{
	width: 100px;
	text-align: center;
	
}





