@charset "UTF-8";
#searchBox{
	margin-bottom: 50px;
}
#dateSelect{
	float: right;
}
#button{
	float: right;
}
#button button{
	height: 45px;
}

table{
	border: 1px solid;
	width: 1100px;
	text-align: center;
}

tr{
	border: 1px solid;
}

th{
	border-bottom: 1px solid;
}



